<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Add new note for patient #<span th:text="${note.patientId}"></span></h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/note/validate/{id}(id=${note.patientId})}" th:object="${note}" method="post" class="form-horizontal" style="width: 100%">

            <div class="form-group" th:class="${#fields.hasErrors('note')}? has-error" >
                <label for="title" class="col-sm-2 control-label">Title</label>
                <!--div class="col-sm-10">
                    <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="Titre de la note..."/>
                    <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title Error</span>
                </div-->
                <div class="col-sm-10">
                    <select th:field="*{title}" class="form-control" id="title">
                        <option value="">--Title--</option>
                        <option value="Medical note">Medical note</option>
                        <option value="Other">Other</option>
                    </select>
                    <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title Error</span>
                </div>
            </div>
            <div class="form-group" th:class="${#fields.hasErrors('note')}? has-error">
                <label for="note" class="col-sm-2 control-label">Note</label>
                <div class="col-sm-10">
                    <textarea th:text="*{note}" class="form-control" id="note" name="note" rows="12" placeholder="Note..."/></textarea>
                    <span class="text-danger"  th:if="${#fields.hasErrors('note')}" th:errors="*{note}">note Error</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <a style="margin-top:15px" class="btn btn-danger btn-sm" href="/patient/list"> Cancel </a>
                    <input style="margin-top:15px" class="btn btn-primary btn-sm" type="submit" value="Submit" >
                </div>
            </div>

        </form>
    </div>

</div>
</body>
</html>