<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body style="background-color: #ffffff">
<div class="container text-black">
    <div class="row">
        <div class="col-6">
            <a href="/patient/list">Patient</a>
        </div>
        <div class="col-6 text-right">
            Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
            <form th:action="@{/app-logout}" method="POST">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>

    <div class="row"><h2>Patient #<span th:text="${patient.id + ' - ' + patient.familly + ' ' + patient.given}"></span></h2>
    </div>
    <div class="row"><h2>Assess #<span th:text="${assess.patientInfo + ' - ' + assess.risk + ' - Nb triggers : ' + assess.nbrisk}"></span></h2>
    </div>
    <div class="row">
        <a th:href="@{'/note/add/' + ${patient.id}}" class="btn btn-primary btn-sm">Add Note</a>
    </div>
    <div>
        <h2></h2>
    </div>

    <div class="row">
        <table class="table table-bordered text-black">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Note</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${notes.empty}">
                <td width="30%"colspan="2"> No notes available </td>
            </tr>
            <tr th:each="note : ${notes}">
                <td width="5%"><span th:text="${note.noteId}"> # </span></td>
                <td width="25%"><span th:text="${note.title}"> title </span></td>
                <td width="60%"> <span th:text="${note.note}"> note </span></td>
                <td width="10%">
                    <a th:href="@{'/note/update/' + ${note.noteId}}" > Upd </a> |
                    <a th:href="@{'/note/delete/' + ${note.noteId}}"  onclick="return confirm('Are you sure to delete this item ?')"> Del </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>